# API
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1

# Firebase
firebase-admin==6.5.0
google-cloud-storage==2.18.2
google-api-core

# CV / ML
numpy==1.26.4
ultralytics==8.3.190
torch>=2.3
torchvision>=0.18
opencv-python-headless>=4.8